@page "/"

<div role="alert" class="alert fade show alert-info is-bar">
    <div class="alert-content">
        <h4><i class="fa fa-lightbulb-o"></i>有言</h4><!--!-->
        <p>
            .Net版本: .Net 7  <br/>
            数据库:   Sqlite <br/>
            后台管理: Blazor (<a href="https://www.blazor.zone">Bootstrap Blazor UI</a>)  <br/>
            开发框架: Abp Vnext 7.X <br/>
            反向代理组件: Yarp 2.X
        </p>
        <p>
            开源地址:<a href="https://github.com/yupingyong/kite.gateway">https://github.com/yupingyong/kite.gateway</a>
        </p>
        <p>
            怕什么真理无穷，进一寸有一寸的欢喜--胡适
        </p>
    </div>
</div>

<Timeline Items="AlternateTimelineItems" />


@code {

    private List<TimelineItem> AlternateTimelineItems { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        AlternateTimelineItems = new List<TimelineItem>()
        {
            new TimelineItem()
            {
                Description="2022-09-21",
                Content="升级到.NET 7"
            }
            ,
            new TimelineItem()
            {
                Description="2022-07-28",
                Content="第一个小迭代版本(数据库更换成Sqlite、调整配置数据热更新功能)"
            }
            ,
            new TimelineItem()
            {
                Description="2022-07-21",
                Content="完成第一个版本的更替,并且分享源代码到github上"
            }
        };
    }
}
