@using Kite.Gateway.Application.Contracts
@using Kite.Gateway.Application.Contracts.Dtos.Administrator
@inject ToastService ToastService
@inject IAdministratorAppService AdministratorAppService

<div class="row">
    <ValidateForm Model="@Model" OnValidSubmit="@OnSaveAsync" OnInvalidSubmit="@OnInvalidSubmitAsync">
            <div class="col-12">
                   <BootstrapInput @bind-Value="Model.AdminName" DisplayText="管理员账号名" IsTrim="true" />
             </div>
             <div class="col-12"  style="margin-top:5px;" >
                   <BootstrapInput @bind-Value="Model.Password" DisplayText="登录密码" type="password" IsTrim="true" />
             </div>
            <div class="col-12"  style="margin-top:5px;" >
                 <BootstrapInput @bind-Value="Model.NickName" DisplayText="昵称" IsTrim="true" />
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-12">
                    <Button ButtonType="ButtonType.Submit"  IsAsync="true" Color="Color.Primary">保 存</Button>
                </div>
            </div>
    </ValidateForm>
</div>


@code {
    
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
    //表单数据
    private CreateAdministratorDto Model { get; set; }
    /// <summary>
    /// OnInitialized 方法
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model = new CreateAdministratorDto();
    }
    private Task OnInvalidSubmitAsync(EditContext context)
    {
        return Task.CompletedTask;
    }
    private async Task OnSaveAsync(EditContext context)
    {
        var result= await AdministratorAppService.CreateAsync(Model);
        if (result.Code != 0)
        {
            await ToastService.Warning(result.Message);
        }
        else
        {
            await OnClickCallback.InvokeAsync();
            await ToastService.Success("保存成功");
            Model = new CreateAdministratorDto();
        }
    }
}
