@page "admin"
@{
    ViewData["Title"] = "首页";
}

<div class="layui-layout layui-layout-admin">
<div class="layui-header">
<div class="layui-logo layui-hide-xs layui-bg-black">Kite Gateway 管理后台</div>
<!-- 头部区域（可配合layui 已有的水平导航） -->
@*<ul class="layui-nav layui-layout-left">
<li class="layui-nav-item layui-hide-xs"><a href="/home" target="_blank">网站首页</a></li>
</ul>*@
<ul class="layui-nav layui-layout-right">
<li class="layui-nav-item layui-hide layui-show-md-inline-block">
<a href="javascript:;">
<img src="/images/kitelogo.png" class="layui-nav-img">
Kite.Top
</a>
<dl class="layui-nav-child">
<dd><a href="">退出</a></dd>
</dl>
</li>
</ul>
</div>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">系统设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" kite-menu-event="open" data-menu-id="tab_1" data-menu-name="管理员管理" data-menu-url="/admin/administrator">管理员管理</a></dd>
                    <dd><a href="javascript:;" kite-menu-event="open" data-menu-id="tab_2" data-menu-name="角色管理" data-menu-url="/admin/role">角色管理</a></dd>
                    <dd><a href="javascript:;" kite-menu-event="open">菜单管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">内容管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" kite-menu-event="open">文章频道管理</a></dd>
                    <dd><a href="javascript:;" kite-menu-event="open">文章管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab layui-tab-brief" lay-filter="kite-tab" lay-allowclose="true">
        <ul class="layui-tab-title" id="kite_tab_menu">
            
        </ul>
        <div class="layui-tab-content">
        </div>
    </div>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    <a href="https://kite.top" target="_blank">产品官网</a>
</div>

</div>
<script>
//JS
layui.use(['element', 'layer', 'util'], function () {
var element = layui.element
, layer = layui.layer
, util = layui.util
, $ = layui.$;
        //头部事件
        util.event('kite-menu-event', {
            //左侧菜单事件
            open: function () {
                var id = $(this).attr("data-menu-id");
                var name = $(this).attr("data-menu-name");
                var url=$(this).attr("data-menu-url");

                AddTab(id, name, url);
            }
        });
        //新增一个Tab项
        function AddTab(id,name,url){
            let tab_node = $("#kite_tab_menu").find("li[lay-id='" + id + "']");
            if (tab_node.length == 0) {
                let frameHeight = $(window).height() - 170;
                let frameHtml = '<iframe src="' + url + '" style="width:100%;border:0px;height:'+frameHeight+'px;" id="frameBox"></iframe>';
                element.tabAdd('kite-tab', {
                    title: name 
                    , content: frameHtml
                    , id: id 
                });
            }
            element.tabChange('kite-tab', id);
        }
        //tab删除事件监控
        element.on('tabDelete(kite-tab)', function (data) {
            console.log(data); //得到当前的Tab大容器
            if(data.index>0){
                return true;
            }
            return false;
            
        });
        //插入默认首页
        AddTab("tab_0", "首页", "/Admin/Home/Main");
    });
</script>
