<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class=" border-gray pb-2 mb-0">用户中心</h6>
    <div class="list-group  list-group-flush">
        <a id="leftmenu_Info" href="/account/my/info" class="list-group-item list-group-item-action">个人资料</a>
        <a id="leftmenu_Message" href="/account/my/message" class="list-group-item list-group-item-action">我的消息</a>
        <a id="leftmenu_Posts" href="/account/my/article" class="list-group-item list-group-item-action">我的文章</a>
        <a id="leftmenu_Docs" href="/account/my/theme" class="list-group-item list-group-item-action">我的文档</a>
    </div>
</div>
