
@{
    ViewData["Title"] = "系统消息";
}

<div class="container-fixed">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
            <p class="text-center" style="font-size:15px;">
                您访问的页面没有授权,您可以尝试登录以后访问!
                <br />
                <a href="/passport/login?fromurl=@(Html.ViewContext.HttpContext.Request.Query["fromurl"])" style="font-size:16px;font-family:黑体;">前往登录?</a>
            </p>
        </div>
    </div>
</div>

