@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .loginForm {
        width: 350px;
        height: 300px;
        background-color: white;
        padding: 30px 20px;
        margin-top: 50%;
        border-radius: 5px;
        box-shadow: 0 0 5px black;
        box-sizing: border-box;
    }
</style>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <div class="loginForm">
                <h2 align="center">Api网关-管理后台</h2>
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label>用户名:</label>
                        <div class="layui-form-block">
                            <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label>密码:</label>
                        <div class="layui-form-block">
                            <input type="password" name="password" required lay-verify="required"
                                   placeholder="请输入密码" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-form-block">
                            <button class="layui-btn" lay-submit lay-filter="loginForm">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer;
        var form = layui.form;
        
        form.on('submit(loginForm)', function (data) {
            var index = layer.load(1);
            $.ajax({
                type:'post',
                url: '/api/mokk/user/login',
                contentType:'application/json',
                data: JSON.stringify(data.field),
                success:function(res){
                    console.log(res);
                    if(res.code==0){
                        window.location.href='/admin/home';
                    }
                    else{
                        layer.msg(res.message);
                    }
                    layer.close(index);
                }
            });
            return false;
        })
    })
</script>