
@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Mango.Module.Account.Areas.Account.Models.MyMessageViewModel
<div class="row">
    <!--左边菜单部分-->
    <div class="col-lg-3">
        @Html.PartialAsync("~/Views/Template/Menu.cshtml").Result
    </div>
    <div class="col-lg-9">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            @foreach (var item in Model.ListData)
            {
                <div class="media pt-2 border-bottom border-gray ">
                    <div class="media-body pb-3 mb-0 small lh-125">
                        <h6 class="d-block">@(Mango.Module.Account.Common.StateCode.GetMessageType(item.MessageType.Value))</h6>
                        <div class="text">
                            @Html.Raw(item.Contents)
                        </div>
                    </div>
                </div>
            }
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-12">
                    <nav aria-label="">
                        <ul class="pagination">
                            @Html.Pager(ViewContext.HttpContext.Request, Model.TotalCount)
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/lib/artdialog/dialog.min.js"></script>
    <script type="text/javascript">
        $(window).ready(function () {
            //选中左边菜单栏
            $("#leftmenu_Message").addClass("active");
        });
    </script>
}

