<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 网关管理后台</title>
    <link rel="stylesheet" href="~/lib/layui/dist/css/layui.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-form/dist/jquery.form.min.js" ></script>
    <script src="~/lib/layui/dist/layui.js"></script>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>