@model List<Mango.Module.CMS.Areas.CMS.Models.ChannelDataModel>

<div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline" id="channelList">
        <a class="nav-link" href="/cms/channel" data-id="0">全部频道</a>
        @foreach (var item in Model)
        {
            <a class="nav-link active" data-id="@item.ChannelId" href="/cms/channel/list/@item.ChannelId">@item.ChannelName</a>
        }
    </nav>

</div>
