
@{
    ViewData["Title"] = "系统异常";
}

<div class="container-fixed">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8 text-center" >
            <img src="~/images/amusing/bug.gif" class="img-thumbnail" width="256" height="256" />
            <p style="font-size:18px;color:black;margin-top:10px;">
                
                火星猿已经此BUG信息已经记录到了火星BUG信息坑...
            </p>
            
        </div>
    </div>
</div>

